<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>500</title>
	<link href="{% static 'css/500/style.css' %}" rel='stylesheet' type='text/css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Custom Error Page Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	<div class="top-bar-agile">
		

		<div class="clear"></div>
	</div>
	<div class="content-w3">
		<h1>500</h1>
		<h2>服务器错误</h2>
        <P>请重新刷新页面或者返回</P>
	</div>
</body>
</html>