{% extends 'base_car.html' %}
{% load staticfiles %}
{% load price_cacl %}
{% block title %}
    账户管理-郑州高品质二手车专家_亿金汽车
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/hurst.css' %}">
{% endblock %}

{% block content %}
    <div id="about">
        <div class="mTags wrap">
            <a href="/">亿金名车广场</a>><a href="{% url 'users:user_center' %}">会员中心</a>><a
                href="{% url 'users:user_account' %}">账户管理</a>
        </div>
        <div class="mebBox">
            <div class="meb-cont clearfix wrap">
                <div class="meb-nav left dInline">
                    <ul class="clearfix">
                        <li><a href="{% url 'users:user_center' %}">会员中心</a></li>
                        <li><a href="{% url 'users:user_needs' %}">我的需求</a></li>
                        <li><a href="{% url 'users:user_cars' %}">我的订单</a></li>
                        <li><a href="{% url 'users:look_fav' %}">我的收藏</a></li>
                        <li class="on"><a href="{% url 'users:user_account' %}">账户管理</a></li>
                    </ul>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="meb-right right dInline">
                        <div class="mr-top">
                            <div class="mr-top-div clearfix">
                            <span class="left">
                                <img src="{% static 'images/photo.png' %}"/>
                             </span>
                                <div class="mr-infor left dInline">
                                    <h2>您好，尊敬的会员 <b>{{ request.user.username }}</b></h2>
                                    <p>
                                        手机：{{ request.user.mobile }} 邮箱：{{ request.user.email }} | [ <a
                                            href="{% url 'users:user_account' %}">管理账户信息</a> ]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mr-detail">
                            <div class="mr-tab clearfix">
                                <a class="on">个人资料管理 </a>
                                <a>修改密码</a>
                            </div>
                            <div class="me-box me-box1">
                                <div class="me-dl" style="display:block;">
                                    <div class="me-one">
                                        <div class="accForm">
                                            <form action="" enctype="multipart/form-data" name="editM" method="post"
                                                  onsubmit="return checkpost();">
                                                <div class="afl clearfix">
                                                    <label class="left">
                                                        手机号码
                                                    </label>
                                                    <div class="af-r left dInline">
                                                        <input type="text" class="ar-txt" name="mobile"
                                                               placeholder="请输入手机号码" value="{{ request.user.mobile }}"
                                                               disabled="disabled"/>
                                                    </div>
                                                </div>
                                                <div class="afl clearfix">
                                                    <label class="left">
                                                        姓名
                                                    </label>
                                                    <div class="af-r left dInline">
                                                        <input type="text" class="ar-txt" name="realname"
                                                               placeholder="请输入您的姓名"
                                                               value="{{ request.user.real_name }}"/>
                                                    </div>
                                                </div>
                                                <div class="afl clearfix">
                                                    <label class="left">
                                                        性别
                                                    </label>
                                                    <div class="af-r left dInline">
												<span>
													<input type="radio" name="gender"
                                                           {% if request.user.gender == 'male' %}checked="checked"{% endif %}
                                                           value="male"> 男
												</span>
                                                        <span>
													<input type="radio" name="gender"
                                                           {% if request.user.gender == 'female' %}checked="checked"{% endif %}
                                                           value="female"> 女
												</span></div>
                                                </div>
                                                <div class="afl clearfix">
                                                    <label class="left">
                                                        邮箱
                                                    </label>
                                                    <div class="af-r left dInline">
                                                        <input type="text" class="ar-txt" name="email"
                                                               placeholder="请输入您的邮箱"
                                                               value="{{ request.user.email }}"/>
                                                    </div>
                                                </div>
                                                <div class="afl clearfix">
                                                    <label class="left">
                                                    </label>
                                                    <div class="af-r left dInline">
                                                        <input type="submit" value="提 交" class="ar-btn">
                                                    </div>
                                                </div>
                                                {% csrf_token %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="me-dl">
                                    <div class="me-one">
                                        <div class="accForm">
                                            <form action="" enctype="multipart/form-data" name="editP" method="post"
                                                  onsubmit="return updatePwd();">
                                                <div class="afl clearfix">
                                                    <label class="left">
                                                        新密码
                                                    </label>
                                                    <div class="af-r left dInline">
                                                        <input type="password" class="ar-txt" name="password"
                                                               placeholder="请输入新密码" value=""/>
                                                    </div>
                                                </div>
                                                <div class="afl clearfix">
                                                    <label class="left">
                                                        确认新密码
                                                    </label>
                                                    <div class="af-r left dInline">
                                                        <input type="password" class="ar-txt" name="password2"
                                                               placeholder="请确认输入的新密码" value=""/>
                                                    </div>
                                                </div>
                                                <div class="afl clearfix">
                                                    <label class="left">
                                                    </label>
                                                    <div class="af-r left dInline">
                                                        <input type="submit" value="提 交" class="ar-btn">
                                                    </div>
                                                </div>
                                                {% csrf_token %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="meb-right right dInline">
                        <div class="me-dl" style="display:block;">
                                <div class="me-more">
                                        <h3>
                                            <a class="b-login" href="#" target="_self" style="color: blue"> 您目前没有登录！点击这里登录...</a>
                                        </h3>

                                </div>
                            </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

        $('.mr-tab a').each(function (index) {
            $(this).click(function () {
                $(this).addClass('on').siblings().removeClass('on');
                $('.me-dl').eq(index).show().siblings().hide();
            })
        });

    </script>

{% endblock %}

